@model IEnumerable<JobPortalSharp.Data.Dto.JobPostDto>

@{
    ViewBag.Title = "Index";
}

@section FooterScripts {
    <script type="text/javascript">
        function viewApplications(btn) {
            var jobTitle = $(btn).closest('tr').find('job-title').text();
            var jobPostId = $(btn).closest('tr')[0].id;
            $.ajax({
                type: 'GET',
                url: '/api/jobapplications/' + jobPostId,
                cache: false,
                success: function (data, status) {
                    $form = $('#modalApplications');
                    $form.find('.job-title').text(jobTitle);
                    $form.find('.modal-body').empty();
                    var html = '<table style="width: 100%; margin-left: 20px; margin-right: 20px"><tr><th>Application Date</th><th>Full Name</th><th>CV</th><th>CL</th>';
                    for (var i = 0; i < data.length; i++) {
                        html += '<tr><td>' + data[i].ApplicationDate.replace('T', ' ') + '</td><td>' + data[i].FirstName + ' ' + data[i].LastName + '</td><td><a href="/files/getcv/' + data[i].Id + '" download>Download</a></td>' +
                            '<td>' + (data[i].CoverLetterSystemFileName == null ? 'None' : '<a href="/files/getcl/' + data[i].Id + '" download>Download</a></td></tr>');
                    }
                    html += '</table>'
                    $form.find('.modal-body').append(html);
                    $form.modal();
                },
                error: function (status) {

                }
            })
        }
    </script>
}

@if (Model.Count() > 0)
{
    <p>
        @Html.ActionLink("Post a new job", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndustryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                Applications
            </th>
            <th>
                Status
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td class="job-title">
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id }, new { @style = "font-weight: bold" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmploymentTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IndustryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @if (item.NumOfApplications > 0)
                    {
                        <button class="btn btn-xs btn-success" onclick="viewApplications(this)">View Applications (@item.NumOfApplications)</button>
                            @*<span class="label label-primary label-as-badge" style="cursor: pointer" onclick="viewApplications(this)">
                                    @Html.DisplayFor(modelItem => item.NumOfApplications)
                                </span>*@
                    }
                    else
                    {
                        <span>None</span>
                    }
                </td>
                <td>
                    @if (item.Paid)
                    {
                        <p>Paid</p>
                    }
                    else
                    {
                        <form action="/Payment/Charge" method="POST">
                            <input type="hidden" value="@item.Id" name="JobPostId" />
                            <article>
                                <label>Amount: $5.00</label>
                            </article>
                            <script src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="pk_test_22j1E1nssuovlAlgpJQQeKYb"
                                    data-locale="auto"
                                    data-description="Sample Charge"
                                    data-amount="500">
                            </script>
                        </form>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <center>
        <p>You have no posts yet.</p>
        @Html.ActionLink("Post a new job", "Create", null, new { @class = "btn btn-primary" })
    </center>
}

<!-- Modal -->
<div class="modal fade" id="modalApplications" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Applications for <span class="job-title"></span></h4>
            </div>
            <div class="modal-body row">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
