@model JobPortalSharp.Models.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

@section FooterScripts {

    <script type="text/javascript">
        var urlVars = getUrlVars();

        function initializeGoogleApi() {
            var inputL1 = document.getElementById('l1');
            var inputL2 = document.getElementById('l2');
            var autocomplete1 = new google.maps.places.Autocomplete(inputL1, []);
            var autocomplete2 = new google.maps.places.Autocomplete(inputL2, []);

            google.maps.event.addListener(autocomplete1, 'place_changed', function () {
                var place = autocomplete1.getPlace();
                $('#lng1').val(place.geometry.location.lng());
                $('#lat1').val(place.geometry.location.lat());
                console.log(2)
            });

            google.maps.event.addListener(autocomplete2, 'place_changed', function () {
                var place = autocomplete2.getPlace();
                $('#lng2').val(place.geometry.location.lng());
                $('#lat2').val(place.geometry.location.lat());
                console.log(1)
            });
        }

        $(function () {
            initializeGoogleApi();

            $('#l1, #l2').on('change', function () {
                $('#lng1, #lat1, #lng2, #lat2').val('');
                console.log(3)
            })

            if (urlVars['acct_created']) {
                alert('Account created. You are automatically logged in.')
            }
        });
    </script>
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/banner-1.jpg" alt="Chania">
        </div>

        <div class="item">
            <img src="images/banner-2.jpg" alt="Chania">
        </div>

        <div class="item">
            <img src="images/banner-3.jpg" alt="Flower">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="search-box-wrapper" style="z-index: 100; position: relative;">
    <div style="background-color: white; padding: 20px; max-width: 1200px;border:1px solid lightgray;box-shadow:0 0 10px gray;margin: auto; margin-top: 10px">
        @using (Html.BeginForm("search", "jobposts", Model, FormMethod.Get))
        {
            <div class="search-box row">
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.q, new { placeholder = "keywords e.g. nurse" })
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.l1, new { placeholder = "location 1" })
                    @Html.HiddenFor(m => m.lng1)
                    @Html.HiddenFor(m => m.lat1)
                    @Html.CheckBoxFor(m => m.nb1, new { style="margin-right: 10px; width: auto; margin-top: 0" })
                    <span>Including Surrounding Areas</span>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.l2, new { placeholder = "location 2" })
                    @Html.HiddenFor(m => m.lng2)
                    @Html.HiddenFor(m => m.lat2)
                    @Html.CheckBoxFor(m => m.nb2, new { style = "margin-right: 10px; width: auto; margin-top: 0" })
                    <span>Including Surrounding Areas</span>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" style="width:100%;line-height:2.4em">Find Job</button>
                </div>
            </div>
        }

        @if (User.IsInRole("Employer"))
        {
            <div style="text-align: center; margin-top: 20px;">
                @Html.ActionLink("Post a Job Now", "create", "jobposts", null, new { @class = "btn btn-success btn-lg" })
            </div>
        }

        @*<ul class="job-categories" style="padding-top: 50px">
            @foreach (var item in ViewBag.Industries)
            {
                <li><a href="/jobposts/category/@item.Id">@item.Name</a></li>
            }
        </ul>*@
    </div>
</div>


