@using X.PagedList.Mvc;
@using X.PagedList;
@model JobPortalSharp.Models.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

@section StyleSheets {
    <style type="text/css">
        .btn-apply {
            padding: 10px;
        }
    </style>
}

@section FooterScripts {
    <script type="text/javascript">
        $(function () {
            $('.selection').click(function () {
                var id = $(this).closest('.result-row')[0].id;
                if (!localStorage['job_selections']) {
                    localStorage['job_selections'] = JSON.stringify([id]);
                } else {
                    var jobSelections = JSON.parse(localStorage['job_selections']);
                    jobSelections.push(id);
                    localStorage['job_selections'] = JSON.stringify(jobSelections);
                }
                refreshJobCart();
                updateJobCartButtons();
            });
            $('.result-row input[type=checkbox]').change(function (event) {
                event.stopPropagation();
                event.preventDefault();
                return false;
            });
            refreshJobCart();
            updateJobCartButtons();
        })

        $('#modalJobApply').on('show.bs.modal', function (e) {
            var $btn = $(e.relatedTarget);
            var $modal = $('#modalJobApply');
            var $form = $modal.find('form');

            $form.removeClass('single');
            $form.removeClass('multiple');
            $form[0].reset();
            if ($btn.hasClass('btn-apply')) {
                var jobPostId = $btn.closest('.result-row')[0].id;
                $form.attr('action', '/jobposts/apply/' + jobPostId);
                $form.addClass('single');
            }
            if ($btn.hasClass('btn-apply-multiple')) {
                $form.attr('action', '/jobposts/applymultiple')
                $form.addClass('multiple');
            }
        })

        function sendApplication() {
            var $modal = $('#modalJobApply');
            var $form = $modal.find('form');
            var jobSelections = [];

            if ($form.hasClass('multiple')) {
                jobSelections = JSON.parse(localStorage['job_selections']);
            }
            
            if ($form.valid()) {
                var formData = new FormData($form[0]);

                for (var i = 0; i < jobSelections.length; i++) {
                    formData.append('ids', jobSelections[i])
                }

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function () {
                        $modal.modal('hide');
                        $form.validate().resetForm();
                        $form[0].reset();
                        localStorage['job_selections'] = '';
                        refreshJobCart();
                        updateJobCartButtons();
                    }
                });
            }
        }

        function removeFromCart(id) {
            $.post('/api/jobcart/remove/' + id, function (e) {
                $('#' + id).find('.selection').prop('checked', false);
                var count = parseInt($('.job-cart .count').html()) - 1;
                $('.job-cart .count').html(count);
                refreshJobCart();
            });
        }

        function refreshJobCart() {
            var $jobCart = $('.job-cart');
            if (!localStorage['job_selections']) {
                $jobCart.hide();
            } else {
                var $cart = $('.job-cart');
                var jobSelections = JSON.parse(localStorage['job_selections']);
                $cart.find('.count').html(jobSelections.length);
                $jobCart.show();
            }
        }

        function updateJobCartButtons() {
            var jobSelections = [];
            if (localStorage['job_selections']) {
                jobSelections = JSON.parse(localStorage['job_selections']);
            }

            $('.result-row').each(function () {
                if (jobSelections.indexOf(this.id) >= 0) {
                    $(this).find('button.selection').attr('disabled', 'disabled');
                } else {
                    $(this).find('button.selection').removeAttr('disabled');
                }
            })
        }
    </script>
}

<div style="background-color: white; padding: 20px;">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "search-box row" }))
    {
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.q, new { placeholder = "keywords e.g. nurse" })
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.l1, new { placeholder = "location 1" })
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.l2, new { placeholder = "location 2" })
        </div>
        <div class="col-md-2">
            <button type="submit" style="width:100%;line-height:3em">Find Job</button>
        </div>
    }
</div>

<div class="job-cart">
    <span class="count">@ViewBag.JobSelectionCount</span>
    <span>Job(s) selected</span>
    <button class="btn btn-default btn-apply-multiple" data-toggle="modal" data-target="#modalJobApply">
        <span class="glyphicon glyphicon-send"></span> Send Application
    </button>
</div>

@if (Model.Posts.Count() > 0)
{
    <p>@Model.ResultCount results</p>
    foreach (var post in Model.Posts)
    {
        <div class="row result-row" id="@post.Id">
            <div class="col-md-1 col-1">
                <button class="btn btn-primary selection">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>
            <div class="col-md-7 col-2">
                <h4>@post.Name</h4>
                @*<img src="/files/employerlogo/@post.EmployerId" style="height: 50px" />*@
                <span style="font-style: oblique; line-height: 50px">@post.EmployerName</span>
                <p>@post.Details</p>
            </div>
            <div class="col-md-4 col-3">
                <p>Sydney</p>
                <p>@post.EmploymentTypeName</p>
                <p>@post.IndustryName</p>
                <button class="btn-apply" data-toggle="modal" data-target="#modalJobApply">Apply</button>
            </div>
            <hr />
        </div>
    }
    @Html.PagedListPager((IPagedList)Model.Posts, page => Url.Action("Search",
        new JobPortalSharp.Models.SearchViewModel { q = Model.q, l1 = Model.l1, l2 = Model.l2, p = page }))
}
else
{
    <p>0 results</p>
}

<!-- Modal -->
<div class="modal fade" id="modalJobApply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Apply</h4>
            </div>
            @using (Html.BeginForm("Apply", "JobPosts", FormMethod.Post, new { enctype = "multipart/form-data", @class = "modal-body" }))
            {
                <div class="row">
                    <label class="col-sm-4">First Name</label>
                    <input class="col-sm-8" type="text" required="required" id="FirstName" name="FirstName" style="border: 1px solid lightgray" />
                </div>
                <div class="row">
                    <label class="col-sm-4">Last Name</label>
                    <input class="col-sm-8" type="text" required="required" id="LastName" name="LastName" style="border: 1px solid lightgray" />
                </div>
                <div class="row">
                    <label class="col-sm-4">Your Email Address</label>
                    <input class="col-sm-8" type="email" required="required" id="EmailAddress" name="EmailAddress" style="border: 1px solid lightgray" />
                </div>
                <div class="row">
                    <label class="col-sm-4">CV</label>
                    <input class="col-sm-8 cv" type="file" id="CV" name="CV" required="required" />
                </div>
                <div class="row">
                    <label class="col-sm-4">Cover letter (Optional)</label>
                    <input class="col-sm-8" type="file" id="CoverLetter" name="CoverLetter" />
                </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="sendApplication()">Send</button>
            </div>
        </div>
    </div>
</div>