@using X.PagedList.Mvc;
@using X.PagedList;
@model JobPortalSharp.Models.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

@section StyleSheets {
    <style type="text/css">
        .btn-apply {
            padding: 10px;
        }
    </style>
}

@section FooterScripts {
    <script type="text/javascript">
        $(function () {
            $('.result-row input[type=checkbox]').change(function (event) {
                event.stopPropagation();
                event.preventDefault();
                return false;
            });
            refreshJobCart();
        })

        $('.btn-apply').click(function () {
            var jobPostId = $(this).closest('.result-row')[0].id;
            $('#modalJobApply').modal({
                backdrop: 'static',
                keyboard: false
            }).find('form').attr('action', '/jobposts/apply/' + jobPostId);
        })

        function sendApplication() {
            var $form = $('#modalJobApply form');
            if ($form.valid()) {
                var formData = new FormData($('#modalJobApply form')[0]);
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function () {
                        $('#modalJobApply').modal('toggle');
                        $('#modalJobApply form')[0].reset();
                    }
                });
            }
        }

        function addToCart(id) {
            $.post('/api/jobcart/add/' + id, function (e) {
                $('#' + id).find('.selection').prop('checked', true);
                var count = parseInt($('.job-cart .count').html()) + 1;
                $('.job-cart .count').html(count);
                refreshJobCart();
            });
        }

        function removeFromCart(id) {
            $.post('/api/jobcart/remove/' + id, function (e) {
                $('#' + id).find('.selection').prop('checked', false);
                var count = parseInt($('.job-cart .count').html()) - 1;
                $('.job-cart .count').html(count);
                refreshJobCart();
            });
        }

        function refreshJobCart() {
            var $jobCart = $('.job-cart');
            
            if ($jobCart.find('.count').html() == '' || $jobCart.find('.count').html() == '0') {
                $jobCart.hide();
            } else {
                $jobCart.show();
            }
        }

        $('.result-row .selection').click(function (e) {
            var id = $(this).closest('.result-row')[0].id;
            if ($(this).is(':checked')) {
                addToCart(id);
            } else {
                removeFromCart(id);
            }
            return false;
        });

    </script>
}

<div style="background-color: white; padding: 20px;">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "search-box row" }))
    {
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.q, new { placeholder = "keywords e.g. nurse" })
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.l1, new { placeholder = "location 1" })
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.l2, new { placeholder = "location 2" })
        </div>
        <div class="col-md-2">
            <button type="submit" style="width:100%;line-height:3em">Find Job</button>
        </div>
    }
</div>

<div class="job-cart">
    <span class="count">@ViewBag.JobSelectionCount</span>
    <span>Job(s) selected</span>
    <button class="btn btn-default" data-toggle="modal" data-target="#modalJobApply">
        <span class="glyphicon glyphicon-send"></span> Send Application
    </button>
</div>

@if (Model.Posts.Count() > 0)
{
    <p>@Model.ResultCount results</p>
    foreach (var post in Model.Posts)
    {
        <div class="row result-row" id="@post.Id">
            <div class="col-md-1 col-1">
                <input type="checkbox" class="selection" />
            </div>
            <div class="col-md-7 col-2">
                <h4>@post.Name</h4>
                @*<img src="/files/employerlogo/@post.EmployerId" style="height: 50px" />*@
                <span style="font-style: oblique; line-height: 50px">@post.EmployerName</span>
                <p>@post.Details</p>
            </div>
            <div class="col-md-4 col-3">
                <p>Sydney</p>
                <p>@post.EmploymentTypeName</p>
                <p>@post.IndustryName</p>
                <button class="btn-apply">Apply</button>
            </div>
            <hr />
        </div>
    }
    @Html.PagedListPager((IPagedList)Model.Posts, page => Url.Action("Search",
        new JobPortalSharp.Models.SearchViewModel { q = Model.q, l1 = Model.l1, l2 = Model.l2, page = page }))
}
else
{
    <p>0 results</p>
}

<!-- Modal -->
<div class="modal fade" id="modalJobApply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Apply</h4>
            </div>
            <form class="modal-body" method="post" enctype="multipart/form-data">
                <div class="row">
                    <label class="col-sm-4">First Name</label>
                    <input class="col-sm-8" type="text" required="required" id="FirstName" name="FirstName" style="border: 1px solid lightgray" />
                </div>
                <div class="row">
                    <label class="col-sm-4">Last Name</label>
                    <input class="col-sm-8" type="text" required="required" id="LastName" name="LastName" style="border: 1px solid lightgray" />
                </div>
                <div class="row">
                    <label class="col-sm-4">Your Email Address</label>
                    <input class="col-sm-8" type="email" required="required" id="EmailAddress" name="EmailAddress" style="border: 1px solid lightgray" />
                </div>
                <div class="row">
                    <label class="col-sm-4">CV</label>
                    <input class="col-sm-8 cv" type="file" id="CV" name="CV" required="required" />
                </div>
                <div class="row">
                    <label class="col-sm-4">Cover letter (Optional)</label>
                    <input class="col-sm-8" type="file" id="CoverLetter" name="CoverLetter" />
                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="sendApplication()">Send</button>
            </div>
        </div>
    </div>
</div>