@using X.PagedList.Mvc;
@using X.PagedList;
@model JobPortalSharp.Models.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

@section StyleSheets {
    <style type="text/css">
        .btn-apply {
            padding: 10px;
        }
    </style>
}

@section FooterScripts {
    <script type="text/javascript">
        $('.btn-apply').click(function () {
            var jobPostId = $(this).closest('.result-row')[0].id;
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: false
            }).find('form').attr('action', '/jobposts/apply/' + jobPostId);
        })

        function sendApplication() {
            var $form = $('#myModal form');
            if ($form.valid()) {
                var formData = new FormData($('#myModal form')[0]);
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function () {
                        $('#myModal').modal('toggle');
                        $('#myModal form')[0].reset();
                    }
                });
            }
        }
    </script>
}

<div style="background-color: white; padding: 20px;">
    <form action="/Home/Search" class="search-box row">
        <div class="col-md-4">
            <input name="q" placeholder="keywords e.g. nurse" type="text" />
        </div>
        <div class="col-md-3">
            <input name="l1" placeholder="location 1" type="text" />
        </div>
        <div class="col-md-3">
            <input name="l2" placeholder="location 2" type="text" />
        </div>
        <div class="col-md-2">
            <button type="submit" style="width:100%;line-height:3em">Find Job</button>
        </div>
    </form>
</div>

@if (Model.Posts.Count() > 0)
{
    <p>@Model.ResultCount results</p>
    foreach (var post in Model.Posts)
    {
        <div class="row result-row" id="@post.Id">
            <div class="col-md-1 col-1">
                <input type="checkbox" />
            </div>
            <div class="col-md-7 col-2">
                <h4>@post.Name</h4>
                <img src="/files/employerlogo/@post.EmployerId" style="height: 50px" />
                <span style="font-style: oblique; line-height: 50px">@post.EmployerName</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-md-4 col-3">
                <p>Sydney</p>
                <p>@post.EmploymentTypeName</p>
                <p>@post.IndustryName</p>
                <button class="btn-apply">Apply</button>
            </div>
            <hr />
        </div>
    }
    @Html.PagedListPager((IPagedList)Model.Posts, page => Url.Action("Search",
        new JobPortalSharp.Models.SearchViewModel { q = Model.q, l1 = Model.l1, l2 = Model.l2, page = page }))
}
else
{
    <p>0 results</p>
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Apply</h4>
            </div>
            <form class="modal-body" method="post" enctype="multipart/form-data">
                <div class="row">
                    <label class="col-sm-4">First Name</label>
                    <input class="col-sm-8" type="text" required="required" id="FirstName" name="FirstName" style="border: 1px solid lightgray" />
                </div>
                <div class="row">
                    <label class="col-sm-4">Last Name</label>
                    <input class="col-sm-8" type="text" required="required" id="LastName" name="LastName" style="border: 1px solid lightgray" />
                </div>
                <div class="row">
                    <label class="col-sm-4">Your Email Address</label>
                    <input class="col-sm-8" type="email" required="required" id="EmailAddress" name="EmailAddress" style="border: 1px solid lightgray" />
                </div>
                <div class="row">
                    <label class="col-sm-4">CV</label>
                    <input class="col-sm-8 cv" type="file" id="CV" name="CV" required="required" />
                </div>
                <div class="row">
                    <label class="col-sm-4">Cover letter (Optional)</label>
                    <input class="col-sm-8" type="file" id="CoverLetter" name="CoverLetter" />
                </div>
                
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="sendApplication()">Send</button>
            </div>
        </div>
    </div>
</div>